BasedOnStyle: Google
IndentWidth: 4
SortIncludes: CaseInsensitive
TabWidth: 4
UseTab: Never
ColumnLimit: 80
---
Language: Cpp
AccessModifierOffset: 0
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
ExperimentalAutoDetectBinPacking: true
MaxEmptyLinesToKeep: 2
...
